* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 52, 52, 0.801);
}
.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    width: 500px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.display-container {
    height: 100px;
    margin: 20px;
    background-color: rgba(253, 163, 46, 0.986);
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.functions-container {
    margin: 20px;
}
button {
    margin: 5px 4px;
    padding: 5%;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.767);
    color: rgb(241, 241, 241);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: .2s;
}
/*
.op {
    background-color: rgb(16, 219, 233);
}*/

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button:active {
    background-color:rgba(0, 0, 0, 0.87);
}
/*
.op:active {
    background-color: rgba(16, 219, 233, 0.623);
}*/

.display-container div {
    align-self: flex-end;
    font-size: 52px;
    line-height: 52px;
    font-weight: 200;
    padding: 5px;
}

.display-container .previous {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 0;
    font-weight: 100;
}